body {
    margin: 0;
    padding: 0;
    background: #1F1F1F;
    color: #FFFFFF;
    font-family: 'Barlow Condensed', sans-serif;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #2A2A2A;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

/* LOGO */

header img {
    width: auto;
    height: 55px;
    display: block;
}

/* MENU */

nav {
    display: flex;
    flex-direction: row;
    padding-left: 45%;
    gap: 95px;
}

nav a {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;             
    font-size: 18px;              
    letter-spacing: 1.5px;        
    text-transform: uppercase;    
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
}
nav a:hover {
    color: #E30613;
}

/* ICONE */

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icons img {
    width: 24px;
    height: auto;
    gap: 20px;
}

.header-icons i {
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.header-icons i:hover {
    color: #E30613;
}

/* HERO */

.hero {
    width: 100%;
    height: 80vh;
    min-height: 500px;
    background-image: url("immagini/porta-targa-ktm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-overlay {
    position:absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 8%;
    color: #FFFFFF;
}

.hero-overlay h1 {
    font-size: 50px;
    max-width: 600px;
    font-weight: 700;                         
    letter-spacing: 1.5px;
    font-family: 'Barlow Condensed', sans-serif;
}

.hero-btn {
    display: inline-block;
    padding: 15px 35px;
    background: #FFFFFF;
    color: #1F1F1F;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: .1ms;
}

.hero-btn:hover {
    background: #E30613;
    color: #FFFFFF;
}

/* FEATURES */

.features {
    background: #E30613;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}

.feature {
    text-align: center;
}

.feature i {
    font-size: 50px;
    color: #FFFFFF;
}

.feature p {
    font-size: 20px;
    line-height: 1.4;
    color: #FFFFFF;
}.features {
    background: #E30613;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    gap: 20px;
    flex-wrap: wrap;
}

/* CARD */
.feature {
    width: 260px;
    height: 150px;
    perspective: 1000px;
}

/* CONTENITORE FLIP */
.feature-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .6s;
    transform-style: preserve-3d;
}

/* HOVER FLIP */
.feature:hover .feature-inner {
    transform: rotateY(180deg);
}

/* FACCIA FRONTE/RETRO */
.feature-front,
.feature-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    color: white;
    text-align: center;
}

/* FRONTE */
.feature-front {
    background: #E30613;
}

/* RETRO */
.feature-back {
    background: #b805114d;
    transform: rotateY(180deg);
    padding: 15px;
    box-sizing: border-box;
}

/* ICONE */
.feature-front i {
    font-size: 45px;
    margin-bottom: 10px;
}

/* TESTI */
.feature-front p,
.feature-back p {
    margin: 0;
}

/* WHITE SECTION */

.white-space {
    background: #F2F2F2;
    height: 100px;
}

/* FOOTER */

footer {
    background: #2A2A2A;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: left;
}

.footer-col img {
    width: 110px;
    height: auto;
    margin-bottom: 15px;
}

.footer-col a,
.footer-col .footer-title {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-style: italic;
    opacity: 0.9;
}

.footer-col a:hover {
    color: #E30613;
    opacity: 1;
    text-decoration: underline;
}

/* RESPONSIVE */

@media (max-width:768px) {

    .hero {
        height: 60vh;
        min-height: 400px;
    }

    .hero-overlay h1 {
        font-size: 2rem;
    }

    .hero-btn {
        padding: 12px 24px;
    }
}
