body {
    margin: 0;
    padding: 0;
    background: #1F1F1F;
    color: #FFFFFF;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #2A2A2A;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

/* LOGO */

header img {
    width: auto;
    height: 55px;
    display: block;
}

/* MENU */

nav {
    display: flex;
    padding-left: 35%;
    gap: 35px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

nav a:hover {
    color: #E30613;
}

/* ICONE */

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icons img {
    width: 24px;
    height: auto;
}

.header-icons i {
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.header-icons i:hover {
    color: #E30613;
}

/* HERO */

.hero {
    width: 100%;
    height: 80vh;
    min-height: 500px;

    background-image: url("immagini/porta-targa-ktm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 8%;
    color: #FFFFFF;
}

.hero-overlay h1 {
    font-size: 67px;
    text-transform: uppercase;
    max-width: 600px;
}

.hero-btn {
    display: inline-block;
    padding: 15px 35px;
    background: #FFFFFF;
    color: #1F1F1F;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: .3s;
}

.hero-btn:hover {
    background: #E30613;
    color: #FFFFFF;
}

/* FEATURES */

.features {
    background: #E30613;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}

.feature {
    text-align: center;
}

.feature i {
    font-size: 50px;
    color: #FFFFFF;
}

.feature p {
    font-size: 20px;
    line-height: 1.4;
    color: #FFFFFF;
}

/* BEST SELLERS */

.best-sellers {
    background: #D9D9D9;
    padding: 15px 10px 20px;
}

.best-sellers h2 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #1F1F1F;
}

.products {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.product-card {
    min-width: 95px;
    background: #FFFFFF;
    color: #1F1F1F;
    border-radius: 6px;
    padding: 8px;
}

.product-image {
    width: 100%;
    height: 70px;
    background: #ECECEC;
    border-radius: 4px;
    margin-bottom: 8px;
}

.dots {
    display: flex;
    gap: 4px;
    margin-bottom: 5px;
}

.dots span {
    width: 8px;
    height: 8px;
    background: #BDBDBD;
    border-radius: 50%;
}

.dots .red {
    background: #E30613;
}

.dots .blue {
    background: #555555;
}

.product-card h4 {
    font-size: 12px;
}

.product-card small {
    display: block;
    font-size: 8px;
    margin: 4px 0;
}

.product-card p {
    font-size: 11px;
    font-weight: bold;
}

/* COMMUNITY */

.community {
    background: #E30613;
    text-align: center;
    padding: 40px 10px;
}

.community h2 {
    font-size: 22px;
    color: #FFFFFF;
}

.community p {
    margin-bottom: 25px;
    color: #FFFFFF;
}

.gallery {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.gallery img {
    width: 24%;
    height: 345px;
    border-radius: 4px;
}

/* BLACK SECTION */

.black-space {
    background: #F2F2F2;
    height: 200px;
}

/* FOOTER */

footer {
    background: #2A2A2A;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: left;
}

.footer-col img {
    width: 110px;
    height: auto;
    margin-bottom: 15px;
}

.footer-col a,
.footer-col .footer-title {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-style: italic;
    opacity: 0.9;
}

.footer-col a:hover {
    color: #E30613;
    opacity: 1;
    text-decoration: underline;
}

/* RESPONSIVE */

@media (max-width:768px) {

    .hero {
        height: 60vh;
        min-height: 400px;
    }

    .hero-overlay h1 {
        font-size: 2rem;
    }

    .hero-btn {
        padding: 12px 24px;
    }
}
